body {
    font-family: sans-serif;
    font-size: 1.5rem;
    background-color:black;
    color: white;
    text-align: center;
}

img {
    max-width: 50vw;
    max-height: 25vw;
    display: block;
    margin: auto;
}
section {
    display: flex;
    flex-flow: row wrap;
    max-width: 40vw;
    margin: auto;
    align-items: baseline;
}

#clickMeBtn {
    padding: 5px 20px;
    margin: 10px auto;
    float: right;
}

#greeting {
    margin: 10px auto;
    padding: 10px 60px;
    border: 1px solid #222;
}

#greeting:empty {
    display: none;
}



.rainbow-button {
    margin: 30px auto 30px auto;
    padding: 10px 5px;
    height: 40px;
    background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 20%, #FC4F4F 40%, #f200ff 60%, #9000ff 80%, #00C0FF 100%);
    border-radius: 10px;
    display:flex;
    align-items:center;
    justify-content:center;
    font-weight:bold;
    font-size:2vw;
    color: rgba(0, 0, 0, 1);
}

.rainbow-button:after {
    content: attr(data-text);
    text-transform:uppercase;
    border-radius: 7px;
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    color: white;
    background-color: rgba(0, 0, 0, 1);
    display:flex;
    align-items:center;
    justify-content:center;
}

.rainbow-button:hover {
    animation:slidebg 2s linear infinite;
}

@keyframes slidebg {
    to {
        background-position:20vw;
    }
}


form {
    margin: 20px auto 20px auto;
    line-height: 2;
    width: 50%;    
}

table {
    margin: 0px auto 0px auto;
}
