body {
    font-family: "Tahoma",sans-serif;
    font-size: 1.5rem;
    background-color:#E0E5EC;
    /* background-image is set in index.html */
    background-attachment: fixed;
    background-size: cover;
    color: black;
    text-align: center;
    margin-bottom: 100px;
    overscroll-behavior: none;
}

.eventHorizon {
    margin: 0 auto 0 auto;
    justify-content: center;
    width: 80%;
    min-width: 550px;
    max-width: 750px;
}

h2 {
    margin-top: 5px;
    margin-bottom: 5px;
}

p {
    margin-top: 10px;
    margin-bottom: 10px;
}

h3 {
    margin-top: 5px;
    margin-bottom: 5px;
}


.header-n-nav{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}


img {
    max-width: 50vw;
    max-height: 25vw;
    display: block;
    margin: auto;
}

input {
    border: none;
    outline:none;
    background: rgb(224,229,236,0);
    height: 30px;
    width: 100%;
    border-radius: 10px;
    padding-left: 10px;
    margin-left: -10px;
    box-shadow: inset 7px 7px 7px rgb(163,177,198,0.6),
                inset -7px -7px 7px  rgba(255,255,255, 0.5);
}

textarea {
    border: none;
    outline:none;
    background-color: rgb(224,229,236,0);    ;
    height: 80px;
    width: 95%;
    max-width: 95%;
    border-radius: 10px;
    padding: 15px;
    margin-left: -10px;
    box-shadow: inset 7px 7px 7px rgb(163,177,198,0.6),
                inset -7px -7px 7px  rgba(255,255,255, 0.5);
}

.key-flip-video {
    margin-top: 3%;
    width: 90%;
}

.still-alive-video {
    margin: 0 auto 0 auto;
    width: 90%;
    display: none;
}

.loading-video{
    z-index: -1;
    width: 80px;
    position: fixed;
    right: 60px;
}

.loading-video-top{
    top: 20px;
}

.loading-video-bottom{
    bottom: 15px;
}


.back-button-video{
    width: 100px;
}

.back-button-big {
    width: 200px;
}

.start-page-button-div {
    display: none;
    margin: 0 5% 2% 5%;
}

section {
    display: flex;
    flex-flow: row wrap;
    max-width: 40vw;
    margin: auto;
    align-items: baseline;
}

#clickMeBtn {
    padding: 5px 20px;
    margin: 10px auto;
    float: right;
}

#greeting {
    margin: 10px auto;
    padding: 10px 60px;
    border: 1px solid #222;
}

#greeting:empty {
    display: none;
}

.error-div {
    width: 60%;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 10px;
    margin: 5px auto;
    padding: 10px;
    background: rgba(255, 0, 0, 0.5);
}

.rainbow-button {
    margin: 20px auto 20px auto;
    padding: 10px 5px;
    height: 40px;
    background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 20%, #FC4F4F 40%, #f200ff 60%, #9000ff 80%, #00C0FF 100%);
    border-radius: 10px;
    display:flex;
    align-items:center;
    justify-content:center;
    font-weight:bold;
    font-size: 1em;
    box-shadow: 9px 9px 16px rgb(163,177,198,0.6),
        -9px -9px 16px  rgba(255,255,255, 0.5);
    }

.rainbow-button:after {
    content: attr(data-text);
    text-transform:uppercase;
    border-radius: 7px;
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    color: rgb(0, 0, 0);
    background-color: #E0E5EC;
    display:flex;
    align-items:center;
    justify-content:center;
}

.rainbow-button:hover {
    animation:slidebg 10s linear infinite;
}

/* .trigger-animation {
    animation:slidebg 3s linear infinite;
} */

@keyframes slidebg {
    to {
        background-position:120vw;
    }
}


.panel {
    margin: 30px 0 40px 0;
    padding: 10px;
    line-height: 2;
    border-radius: 20px;
    background: rgb(224,229,236,0.8);
    backdrop-filter: blur(8px);
    box-shadow: 9px 9px 16px rgb(163,177,198,0.6),
        -9px -9px 16px  rgba(255,255,255, 0.5);
}


.description-and-wallet {
    display: flex;
    justify-content: center;
    margin: 10px auto;
}

.description {
    margin: auto;
    text-align: left;
}

.wallet-in-app {
    color:rgb(255, 255, 255);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px auto;
    padding: 30px 10px 30px 10px;
    line-height: 1;
    width: 50%;
    min-width: 380px;
    border-radius: 20px;
    background: rgba(38, 0, 255, 0.7);
    backdrop-filter: blur(8px);
    box-shadow: 9px 9px 16px rgb(163,177,198,0.6),
        -9px -9px 16px  rgba(255,255,255, 0.5);
}


form {
    padding: 0 50px 0 50px;
    line-height: 1.8;
}

span {
    display: block;
    overflow: hidden;
    padding: 0 10px 5px 25px;
}

label {
    float: left;
}

table {
    margin: 0px auto 0px auto;
    width: 100%;
}

.endStakeButton {
    font-family: inherit;
    font-size: 1.2rem;
    width: 120px;
    height: 40px;
    border-width: 5px;
    border-radius: 10px;
    border-color: rgb(255, 0, 0);
    background-color: rgba(255,255,255, 0);
}

.revealButton {
    font-family: inherit;
    font-size: 1.2rem;
    width: 90px;
    height: 40px;
    border-width: 5px;
    border-radius: 10px;
    border-color: rgb(0, 209, 80);
    background-color: rgba(255,255,255, 0);
}
