body {
    font-family: "Tahoma";
    font-size: 1.5rem;
    background-color:#E0E5EC;
    /* background-image is set in index.html */
    background-attachment: fixed;
    background-size: cover;
    color: black;
    text-align: center;
    margin-bottom: 80px;
}

h2 {
    margin-top: 10px;
    margin-bottom: 10px;
}

img {
    max-width: 50vw;
    max-height: 25vw;
    display: block;
    margin: auto;
}

input {
    border: none;
    outline:none;
    background: rgb(224,229,236,0);
    height: 30px;
    width: 100%;
    border-radius: 10px;
    padding-left: 10px;
    margin-left: -10px;
    box-shadow: inset 7px 7px 7px rgb(163,177,198,0.6), 
                inset -7px -7px 7px  rgba(255,255,255, 0.5);
}

textarea {
    border: none;
    outline:none;
    background-color: rgb(224,229,236,0);    ;
    height: 80px;
    width: 95%;
    max-width: 95%;
    border-radius: 10px;
    padding: 15px;
    margin-left: -10px;
    box-shadow: inset 7px 7px 7px rgb(163,177,198,0.6), 
                inset -7px -7px 7px  rgba(255,255,255, 0.5);
}

.key-flip-video {
    margin-top: 3%;
    width: 100%;
}

.still-alive-video {
    margin: 0 auto 0 auto;
    width: 90%;
    display: none;
}


.start-page-button-div {
    display: flex;
    margin: 0 5% 2% 5%;
}

section {
    display: flex;
    flex-flow: row wrap;
    max-width: 40vw;
    margin: auto;
    align-items: baseline;
}

#clickMeBtn {
    padding: 5px 20px;
    margin: 10px auto;
    float: right;
}

#greeting {
    margin: 10px auto;
    padding: 10px 60px;
    border: 1px solid #222;
}

#greeting:empty {
    display: none;
}



.rainbow-button {
    margin: 30px auto 30px auto;
    padding: 10px 5px;
    height: 40px;
    background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 20%, #FC4F4F 40%, #f200ff 60%, #9000ff 80%, #00C0FF 100%);
    border-radius: 10px;
    display:flex;
    align-items:center;
    justify-content:center;
    font-weight:bold;
    font-size: 1em;
    box-shadow: 9px 9px 16px rgb(163,177,198,0.6), 
        -9px -9px 16px  rgba(255,255,255, 0.5);
    }

.rainbow-button:after {
    content: attr(data-text);
    text-transform:uppercase;
    border-radius: 7px;
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    color: rgb(0, 0, 0);
    background-color: #E0E5EC;
    display:flex;
    align-items:center;
    justify-content:center;
}

.rainbow-button:hover {
    animation:slidebg 10s linear infinite;
}

.trigger-animation {
    animation:slidebg 10s linear infinite;
}

@keyframes slidebg {
    to {
        background-position:120vw;
    }
}


.panel {
    margin: 30px auto 40px auto;
    padding: 10px;
    line-height: 2;
    width: 50%;
    min-width: 700px;
    border-radius: 20px;
    background: rgb(224,229,236,0.8);
    backdrop-filter: blur(8px);
    box-shadow: 9px 9px 16px rgb(163,177,198,0.6), 
        -9px -9px 16px  rgba(255,255,255, 0.5);
}

.panel::before{

}


form {
    padding: 0 50px 0 50px;
    line-height: 2.2;
}

span {
    display: block;
    overflow: hidden;
    padding: 0 10px 5px 25px;
}

label {
    float: left;
}

table {
    margin: 0px auto 0px auto;
    padding-right: 20px;
    width: 100%;
}

.deleteButton {
    border-color: red;
    border-radius: 5px;
    background-color: #E0E5EC;
    box-shadow: 9px 9px 16px rgb(163,177,198,0.6), 
    -9px -9px 16px  rgba(255,255,255, 0.5);
}